on early-init
    # RAM boost 2.0
    setprop ro.config.moto_swap_supported true
    setprop ro.config.use_common_max_apps true

#MotoBtAptxMode
on boot
    setprop persist.mot_bt.aptx_cert true
    setprop persist.mot_bt.qss_cert true
    setprop persist.vendor.btstack.qhs_enable true
    setprop persist.mot_bt.lhdc_enable true
    #LE audio: disable LE audio
    setprop persist.vendor.service.bt.adv_audio_mask 0

# common initialization
on post-fs
    # LMK
    setprop ro.lmk.kill_heaviest_task true
    setprop ro.lmk.file_low_percentage 25
    setprop ro.lmk.pgscan_limit 3000
    setprop ro.lmk.swap_free_low_percentage 10
    setprop ro.lmk.swap_util_max 90
    setprop ro.lmk.thrashing_limit 50
    setprop ro.lmk.thrashing_limit_decay 25
    setprop ro.lmk.thrashing_limit_critical 50
    setprop ro.lmk.threshold_decay 50
    setprop ro.lmk.psi_complete_stall_ms 150
    setprop ro.lmk.psi_partial_stall_ms 50
    setprop ro.lmk.filecache_min_kb 300000
    setprop ro.lmk.kill_timeout_ms 100
    setprop persist.lmk.debug true

    # LMK3.1
    setprop ro.lmk.use_moto_strategy true
    setprop persist.sys.aitune_promote_important_apps true
    setprop persist.sys.aitune_promote_recent_ui_procs true
    setprop ro.config.svc_restart_delay_on_critical_mem 3600000
    setprop ro.config.svc_restart_delay_on_low_mem 3600000
    setprop ro.config.svc_restart_delay_on_moderate_mem 60000
    setprop ro.config.use_psi_avg10_for_mempressure true
    setprop ro.lmk.critical_min_adj 201
    setprop ro.lmk.file_high_percentage 70
    setprop ro.lmk.freeze_min_adj 0
    setprop ro.lmk.kswapd_limit 90
    setprop ro.lmk.kswapd_limit_decay 10
    setprop ro.lmk.kswapd_min_adj 201
    setprop ro.lmk.medium_min_adj 920
    setprop ro.lmk.min_thrashing_limit 10
    setprop ro.lmk.stall_limit_critical 4
    setprop ro.lmk.stall_limit_freeze 8
    setprop ro.lmk.stall_limit_medium 1

    # App compactor
    setprop ro.config.use_compaction true
    setprop ro.config.compact_action_1 4
    setprop ro.config.compact_action_2 2
    setprop ro.config.compact_procstate_throttle 11,18
    setprop ro.config.compact_bootcompleted true
    setprop ro.config.force_procfs_compact true
    # LowMemoryDetector of Framework
    setprop ro.lowmemdetector.psi_low_stall_us 100000
    setprop ro.lowmemdetector.psi_medium_stall_us 150000
    setprop ro.lowmemdetector.psi_high_stall_us 200000
    # Enable Qcom perf framework
    setprop persist.sys.perf_fwk_enabled true
    # Enable game opt
    setprop persist.mot.support_game_opt true
    # Disable Process pool
    setprop persist.device_config.runtime_native.usap_pool_enabled false
    setprop ro.config.use_freezer true
    # Restrict kswap to little core
    setprop ro.lmk.always_bg_cpuset_threads kcompactd0

on property:sys.boot_completed=1
    # Always reserve one CPU for top app
    write /dev/cpuset/top-app/cpus 0-7
    # For SF boost
    write /dev/cpuset/foreground/cpus 0-6
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/boost-app/cpus 0-6
    # Restrict bg tasks
    write /dev/cpuset/background/cpus 0-2
    # Restrict tasks to little core in screen off for power saving
    write /dev/cpuset/restricted/cpus 0-3
    # misc
    write /dev/cpuset/camera-daemon/cpus 0-6

on property:sys.boot_completed=1 && property:ro.vendor.zram.product_swapon=true
    trigger sys-boot-completed-set

on sys-boot-completed-set && property:persist.sys.zram_wb_enabled=false
    swapon_all /vendor/etc/fstab.qcom
on sys-boot-completed-set && property:persist.sys.zram_wb_enabled=true
    swapon_all /vendor/etc/fstab.qcom.zramwb

# Tune Swap readahead on ufs 3.1
# 0 when zram wb was disabled
# 4 when zram wb was enabled, it should be fine tuned on each ufs/emmc.
# Note: readahead will only be applied on writeback pages.
on property:sys.boot_completed=1 && property:persist.sys.zram_wb_enabled=false
    write /proc/sys/vm/page-cluster 0
on property:sys.boot_completed=1 && property:persist.sys.zram_wb_enabled=true
    write /proc/sys/vm/page-cluster 4

# Thermal mode
on property:vendor.motosxf.mode=*
    setprop vendor.thermal.mode ${vendor.motosxf.mode}

# Tune dalvik configuration
on property:ro.vendor.hw.ram=6GB
    setprop dalvik.vm.dex2oat-threads 6
    setprop dalvik.vm.heapstartsize 16m
    setprop dalvik.vm.heapgrowthlimit 256m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.5
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 32m
on property:ro.vendor.hw.ram=8GB
    setprop dalvik.vm.dex2oat-threads 6
    setprop dalvik.vm.heapstartsize 16m
    setprop dalvik.vm.heapgrowthlimit 256m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.5
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 32m
on property:ro.vendor.hw.ram=12GB
    setprop dalvik.vm.dex2oat-threads 6
    setprop dalvik.vm.heapstartsize 16m
    setprop dalvik.vm.heapgrowthlimit 256m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.5
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 32m

on property:ro.product.cpu.abi=arm64-v8a
    setprop dalvik.vm.dex2oat64.enabled true

# Set extra free for perf mode
on property:vendor.motosxf.mode=normal
    setprop sys.sysctl.extra_free_kbytes 31134
on property:vendor.motosxf.mode=perf
    setprop sys.sysctl.extra_free_kbytes 160000
on property:vendor.motosxf.mode=game-perf
    setprop sys.sysctl.extra_free_kbytes 31134

on property:ro.vendor.hw.ram=2GB
    setprop persist.sys.fw.bservice_age 5000
    setprop persist.sys.fw.bservice_limit 5
    setprop persist.sys.fw.bservice_enable true
    setprop persist.sys.fw.use_trim_settings true
    setprop persist.sys.fw.empty_app_percent 50
    setprop persist.sys.fw.trim_empty_percent 100
    setprop persist.sys.fw.trim_cache_percent 100
    setprop persist.sys.fw.trim_enable_memory 1073741824
on property:ro.vendor.hw.ram=3GB
    setprop persist.sys.fw.bservice_age 5000
    setprop persist.sys.fw.bservice_limit 5
    setprop persist.sys.fw.bservice_enable true
    setprop persist.sys.fw.use_trim_settings true
    setprop persist.sys.fw.empty_app_percent 50
    setprop persist.sys.fw.trim_empty_percent 100
    setprop persist.sys.fw.trim_cache_percent 100
    setprop persist.sys.fw.trim_enable_memory 1073741824
on property:ro.vendor.hw.ram=4GB
    setprop persist.sys.fw.bservice_age 5000
    setprop persist.sys.fw.bservice_limit 5
    setprop persist.sys.fw.bservice_enable true
    setprop persist.sys.fw.use_trim_settings true
    setprop persist.sys.fw.empty_app_percent 50
    setprop persist.sys.fw.trim_empty_percent 100
    setprop persist.sys.fw.trim_cache_percent 100
    setprop persist.sys.fw.trim_enable_memory 1073741824
on property:ro.vendor.hw.ram=6GB
    setprop persist.sys.fw.bservice_age 5000
    setprop persist.sys.fw.bservice_limit 10
    setprop persist.sys.fw.bservice_enable true
#ANR timeout
on post-fs && property:ro.build.type=userdebug
    setprop persist.sys.dispatch_timeout_multiplier 2
    setprop persist.sys.service_timeout 40000
    setprop persist.sys.service_bg_timeout 400000
    setprop persist.sys.bind_timeout 36000
